---
import Layout from "../layouts/Layout.astro";

// nieuwe images
const asfarImages = [
  "https://utfs.io/f/Q8NXZoCPTWFle8inOLAIjEHAWQKzBZlnXFi8Jhgebt2DuOVP",
  "https://utfs.io/f/Q8NXZoCPTWFltedRyKxavf0NyDGlk4EJVRrq5esnTbXw2F8t",
  "https://utfs.io/f/Q8NXZoCPTWFligS8XB5oH839lMtOVK1xCRBDriJeYj6v2EFI",
];

const boekImages = [
  "https://utfs.io/f/Q8NXZoCPTWFltEU0MFhxavf0NyDGlk4EJVRrq5esnTbXw2F8",
  "https://utfs.io/f/Q8NXZoCPTWFltEU0MFhxavf0NyDGlk4EJVRrq5esnTbXw2F8",
  "https://utfs.io/f/Q8NXZoCPTWFlbzh1wSHdP43tN0UqBXTM85EIxzp9JHCiGZh6",
  "https://utfs.io/f/Q8NXZoCPTWFlOt9G3YP29NICB61HW8ysjgL0Yl4AbzueTQhP",
  "https://utfs.io/f/Q8NXZoCPTWFlcppiwlegZRCjh9sx07twQa8Xo6SeGVMY4upB",
  "https://utfs.io/f/Q8NXZoCPTWFlwjrojwS1qNW8yAcVDxvd0jS2bZRsYpiwBnTh",
];

const iknowImages = [
  "https://utfs.io/f/Q8NXZoCPTWFlSLyomuetgHGqZRAfFvCWT0U841sJj52MDexa",
  "https://utfs.io/f/Q8NXZoCPTWFlfGQ6pfn9nD6oVrWE4bqzhsIwC7YjG0P1SKlA",
  "https://utfs.io/f/Q8NXZoCPTWFllz6FdQjwQ3ydYcz4OEbeF2Jf8ltKL1Whoiag",
  "https://utfs.io/f/Q8NXZoCPTWFlivnGiD5oH839lMtOVK1xCRBDriJeYj6v2EFI",
];

const retellingImages = [
  "https://utfs.io/f/Q8NXZoCPTWFldaRfTMu6fYqRJmkesMrQ3NXI17Tzg5ywtZuE",
  "https://utfs.io/f/Q8NXZoCPTWFlq0CtW0MfOEt1bWAsPZz8QSyfI20qnYke4rFM",
];

const liftImages = [
  "https://utfs.io/f/Q8NXZoCPTWFl8ZmW90diJy2CmjoaWwbBsMZvR1z5cQNFki79",
  "https://utfs.io/f/Q8NXZoCPTWFlz2g1vo8Do35haA2WYg0Sjqt4eQ8XHP7BvrnE",
  "https://utfs.io/f/Q8NXZoCPTWFlxJ8EAGQLcdiXSuBfDG6osFZvazqWIh0PbHLU",
  "https://utfs.io/f/Q8NXZoCPTWFlFh1dvOjm9T7bP4uGaq2ckKBMRw8LpnOEYZVX",
];

const plainImages = [
  "https://utfs.io/f/Q8NXZoCPTWFlwZhNv2S1qNW8yAcVDxvd0jS2bZRsYpiwBnTh",
  "https://utfs.io/f/Q8NXZoCPTWFlDnraubeViC5Yke8jBlcQvWrVh72F9DH3xN6G",
  "https://utfs.io/f/Q8NXZoCPTWFluVVX80czoDRVqQxZ5CEwzNW1eGYnBPsLl2UK",
];
---

<html lang="en">
  <head>
    <title>Caja Boogers</title>
    <meta
      name="description"
      content="Caja Boogers (Vlaardingen, 2001) official website."
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      async></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>

  <Layout title="Caja Boogers">
    <body>
      <div class="min-h-screen flex flex-col">
        <h1 class="sr-only">Caja Boogers home page</h1>
        <section id="home" class="min-h-screen flex flex-col">
          <main class="flex-grow container mx-auto py-8 md:py-16">
            <!-- Carousel for Asfar Images -->
            <div id="carouselAsfar" class="carousel slide mb-16 md:mb-32">
              <div class="carousel-indicators">
                {
                  asfarImages.map((_, index) => (
                    <button
                      type="button"
                      data-bs-target="#carouselAsfar"
                      data-bs-slide-to={index}
                      class={index === 0 ? "active" : ""}
                      aria-current={index === 0 ? "true" : "false"}
                      aria-label={`Slide ${index + 1}`}
                    />
                  ))
                }
              </div>

              <div class="carousel-inner">
                {
                  asfarImages.map((image, index) => (
                    <div class={`carousel-item ${index === 0 ? "active" : ""}`}>
                      <img
                        src={image}
                        class="d-block w-screen h-128 md:h-screen object-contain"
                        alt={`Slide ${index + 1}`}
                      />
                    </div>
                  ))
                }
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselAsfar"
                data-bs-slide="prev"
              >
                <span class="carousel-control-prev-icon" aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselAsfar"
                data-bs-slide="next"
              >
                <span class="carousel-control-next-icon" aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

            <!-- Carousel for Boek Images -->
            <div id="carouselBoek" class="carousel slide mb-16 md:mb-32">
              <div class="carousel-indicators">
                {
                  boekImages.map((_, index) => (
                    <button
                      type="button"
                      data-bs-target="#carouselBoek"
                      data-bs-slide-to={index}
                      class={index === 0 ? "active" : ""}
                      aria-current={index === 0 ? "true" : "false"}
                      aria-label={`Slide ${index + 1}`}
                    />
                  ))
                }
              </div>

              <div class="carousel-inner">
                {
                  boekImages.map((image, index) => (
                    <div class={`carousel-item ${index === 0 ? "active" : ""}`}>
                      <img
                        src={image}
                        class="d-block w-screen h-128 md:h-screen object-contain"
                        alt={`Slide ${index + 1}`}
                      />
                    </div>
                  ))
                }
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselBoek"
                data-bs-slide="prev"
              >
                <span class="carousel-control-prev-icon" aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselBoek"
                data-bs-slide="next"
              >
                <span class="carousel-control-next-icon" aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

            <!-- Carousel for I Know Images -->
            <div id="carouselIKnow" class="carousel slide mb-16 md:mb-32">
              <div class="carousel-indicators">
                {
                  iknowImages.map((_, index) => (
                    <button
                      type="button"
                      data-bs-target="#carouselIKnow"
                      data-bs-slide-to={index}
                      class={index === 0 ? "active" : ""}
                      aria-current={index === 0 ? "true" : "false"}
                      aria-label={`Slide ${index + 1}`}
                    />
                  ))
                }
              </div>

              <div class="carousel-inner">
                {
                  iknowImages.map((image, index) => (
                    <div class={`carousel-item ${index === 0 ? "active" : ""}`}>
                      <img
                        src={image}
                        class="d-block w-screen h-128 md:h-screen object-contain"
                        alt={`Slide ${index + 1}`}
                      />
                    </div>
                  ))
                }
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselIKnow"
                data-bs-slide="prev"
              >
                <span class="carousel-control-prev-icon" aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselIKnow"
                data-bs-slide="next"
              >
                <span class="carousel-control-next-icon" aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

            <!-- Carousel for Retelling Images -->
            <div id="carouselRetelling" class="carousel slide mb-16 md:mb-32">
              <div class="carousel-indicators">
                {
                  retellingImages.map((_, index) => (
                    <button
                      type="button"
                      data-bs-target="#carouselRetelling"
                      data-bs-slide-to={index}
                      class={index === 0 ? "active" : ""}
                      aria-current={index === 0 ? "true" : "false"}
                      aria-label={`Slide ${index + 1}`}
                    />
                  ))
                }
              </div>

              <div class="carousel-inner">
                {
                  retellingImages.map((image, index) => (
                    <div class={`carousel-item ${index === 0 ? "active" : ""}`}>
                      <img
                        src={image}
                        class="d-block w-screen h-128 md:h-screen object-contain"
                        alt={`Slide ${index + 1}`}
                      />
                    </div>
                  ))
                }
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselRetelling"
                data-bs-slide="prev"
              >
                <span class="carousel-control-prev-icon" aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselRetelling"
                data-bs-slide="next"
              >
                <span class="carousel-control-next-icon" aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

            <!-- Carousel for Lift Images -->
            <div id="carouselLift" class="carousel slide mb-16 md:mb-32">
              <div class="carousel-indicators">
                {
                  liftImages.map((_, index) => (
                    <button
                      type="button"
                      data-bs-target="#carouselLift"
                      data-bs-slide-to={index}
                      class={index === 0 ? "active" : ""}
                      aria-current={index === 0 ? "true" : "false"}
                      aria-label={`Slide ${index + 1}`}
                    />
                  ))
                }
              </div>

              <div class="carousel-inner">
                {
                  liftImages.map((image, index) => (
                    <div class={`carousel-item ${index === 0 ? "active" : ""}`}>
                      <img
                        src={image}
                        class="d-block w-screen h-128 md:h-screen object-contain"
                        alt={`Slide ${index + 1}`}
                      />
                    </div>
                  ))
                }
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselLift"
                data-bs-slide="prev"
              >
                <span class="carousel-control-prev-icon" aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselLift"
                data-bs-slide="next"
              >
                <span class="carousel-control-next-icon" aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

            <!-- Carousel for Plain Images -->
            <div id="carouselPlain" class="carousel slide mb-16 md:mb-32">
              <div class="carousel-indicators">
                {
                  plainImages.map((_, index) => (
                    <button
                      type="button"
                      data-bs-target="#carouselPlain"
                      data-bs-slide-to={index}
                      class={index === 0 ? "active" : ""}
                      aria-current={index === 0 ? "true" : "false"}
                      aria-label={`Slide ${index + 1}`}
                    />
                  ))
                }
              </div>

              <div class="carousel-inner">
                {
                  plainImages.map((image, index) => (
                    <div class={`carousel-item ${index === 0 ? "active" : ""}`}>
                      <img
                        src={image}
                        class="d-block w-screen h-128 md:h-screen object-contain"
                        alt={`Slide ${index + 1}`}
                      />
                    </div>
                  ))
                }
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselPlain"
                data-bs-slide="prev"
              >
                <span class="carousel-control-prev-icon" aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselPlain"
                data-bs-slide="next"
              >
                <span class="carousel-control-next-icon" aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </main>
        </section>

        <section id="cv" class="container mx-auto py-16">
          <h1 class="text-4xl font-bold mb-8 text-center sr-only">CV</h1>
          <body>
            <div class="container mx-auto py-16">
              <h1 class="text-4xl font-bold mb-8 text-center sr-only">CV</h1>

              {/* Flex container for layout on larger screens */}
              <div class="flex flex-col lg:flex-row">
                {/* CV Section */}
                <div class="lg:w-2/3">
                  <section class="mb-12">
                    <h2 class="text-2xl font-semibold mb-4">
                      Selected Exhibitions
                    </h2>
                    <ul class="space-y-4">
                      <li>
                        <strong>2024</strong> - As far as I know, Galerie Gerhard
                        Hofland, Amsterdam (NL), solo-show
                      </li>
                      <li>
                        <strong>2024</strong> - Harvest 2024, Lakeside Collection,
                        Depot Boijmans Van Beuningen, Rotterdam (NL), duoshow
                      </li>
                      <li>
                        <strong>2024</strong> - Sample, Chili Art Projects, London
                        (UK), groupshow
                      </li>
                      <li>
                        <strong>2024</strong> - Last Show, Collectie de Groen, Arnhem
                        (NL), groupshow
                      </li>
                      <li>
                        <strong>2024</strong> - Daily encounters and how to catch
                        them, Kunsthal Helmond, Museum Helmond, Helmond (NL), groupshow
                      </li>
                      <li>
                        <strong>2024</strong> - Echter, Moving Gallery, Utrecht (NL),
                        groupshow
                      </li>
                      <li>
                        <strong>2024</strong> - Art Rotterdam, Best of Graduates
                        Legacy, Galerie Ron Mandos, Rotterdam (NL), groupshow
                      </li>
                      <li>
                        <strong>2024</strong> - Art Rotterdam, Represented by Galerie
                        Gerhard Hofland, Rotterdam (NL), groupshow
                      </li>
                      <li>
                        <strong>2023</strong> - Closing Distance, Galerie Weisbard,
                        Rotterdam (NL), solo-show
                      </li>
                      <li>
                        <strong>2023</strong> - Maidentrip, Collectie de Groen, Arnhem
                        (NL), solo-show
                      </li>
                      <li>
                        <strong>2023</strong> - Best of Graduates, Galerie Ron Mandos,
                        Amsterdam (NL), groupshow
                      </li>
                      <li>
                        <strong>2023</strong> - HKU Exposure, HKU Fine Art, Utrecht
                        (NL), graduation show
                      </li>
                      <li>
                        <strong>2023</strong> - PARTITIONS, Galerie Gerhard Hofland,
                        Amsterdam (NL), duoshow
                      </li>
                      <li>
                        <strong>2023</strong> - TRAILER, AG, Utrecht (NL), groupshow
                      </li>
                      <li>
                        <strong>2023</strong> - A Touch of Light, Museum Kranenburgh,
                        Bergen (NL), groupshow
                      </li>
                      <li>
                        <strong>2022</strong> - PEEK Pastoe, HKU Fine Art, Utrecht
                        (NL), groupshow
                      </li>
                      <li>
                        <strong>2022</strong> - The NEXT: KapSalon, Herman van Veen
                        Arts Center, Soest (NL), groupshow
                      </li>
                      <li>
                        <strong>2021</strong> - CURRENT CURRENT CURRENT, OMSTAND,
                        Arnhem (NL), groupshow
                      </li>
                      <li>
                        <strong>2021</strong> - Virtual Empathy, AG, Utrecht (NL),
                        groupshow
                      </li>
                    </ul>
                  </section>

                  {/* Education & Residencies Section */}
                  <section class="mb-12">
                    <h2 class="text-2xl font-semibold mb-4">
                      Education/Residencies
                    </h2>
                    <ul class="space-y-4">
                      <li>
                        <strong>2019-2023</strong> - BA Fine Art, Hogeschool voor
                        de Kunsten Utrecht
                      </li>
                      <li>
                        <strong>2023-2024</strong> - Lakeside Collection Award, Artist-in-residence,
                        Depot Boijmans Van Beuningen, Rotterdam
                      </li>
                      <li>
                        <strong>2024-2026</strong> - Participant Residency Program,
                        De Ateliers, Amsterdam (NL)
                      </li>
                    </ul>
                  </section>

                  {/* Media Section */}
                  <section class="mb-12">
                    <h2 class="text-2xl font-semibold mb-4">Selected Media</h2>
                    <ul class="space-y-4">
                      <li>
                        <strong>10 juli 2023</strong> -
                        <a
                          href="https://www.volkskrant.nl/cultuur-media/net-afgestudeerd-en-nu-al-een-tentoonstelling-de-vliegende-start-van-drie-jonge-kunstenaars~b8201ff2e/"
                          target="_blank"
                          class="underline hover:text-blue-600"
                        >
                          'De vliegende start van drie jonge kunstenaars', Anna
                          van Leeuwen, de Volkskrant
                        </a>
                      </li>
                      <li>
                        <strong>7 september 2024</strong> -
                        <a
                          href="https://www.parool.nl/ps/kunstenaar-caja-boogers-23-is-een-rijzende-ster-mensen-kunnen-mijn-grote-plannen-voor-arrogantie-houden~b94de3db/"
                          target="_blank"
                          class="underline hover:text-blue-600"
                        >
                          'Kunstenaar Caja Boogers (23) is een rijzende ster',
                          Jan Pieter Ekker, PS Het Parool
                        </a>
                      </li>
                      <li>
                        <strong>8 september 2024</strong> -
                        <a
                          href="https://www.volkskrant.nl/cultuur-media/caja-boogers-peutert-aan-het-indische-verleden-met-92-schilderijen~bebde12f/"
                          target="_blank"
                          class="underline hover:text-blue-600"
                        >
                          'Caja Boogers peutert aan het Indische verleden met 92
                          schilderijen', Esmee Potsma, De Volkskrant
                        </a>
                      </li>
                      <li>
                        <strong>16 september 2024</strong> -
                        <a
                          href="https://www.frieze.com/article/caja-boogers-gerhard-hofland-2024-review"
                          target="_blank"
                          class="underline hover:text-blue-600"
                        >
                          'Caja Boogers's Fragments of Unspoken Memories', Jim
                          van Geel, Frieze Magazine
                        </a>
                      </li>
                    </ul>
                  </section>

                  {/* Collections Section */}
                  <section class="mb-12">
                    <h2 class="text-2xl font-semibold mb-4">
                      Selected Collections
                    </h2>
                    <ul class="list-disc list-inside">
                      <li>Ministerie van Binnenlandse Zaken</li>
                      <li>Museum Voorlinden</li>
                      <li>Lakeside Collection</li>
                      <li>ING Collection</li>
                      <li>Akzo Nobel Art Foundation</li>
                      <li>Collectie de Groen</li>
                      <li>FENIX Collection</li>
                    </ul>
                  </section>
                </div>

                {/* Image Section */}
                <div class="lg:w-1/3 lg:pl-8 mt-8 lg:mt-0">
                  <img
                    src="https://utfs.io/f/6qqAt6GVvZygwFazy8siSawy1B0MFtv2ZkxCuo4n3AlIDsOW"
                    alt="Artwork of Caja Boogers"
                    class="w-full h-auto object-cover"
                  />
                </div>
              </div>
            </div>
          </body>
        </section>

        <!-- Contact Section -->
        <section id="contact" class="container mx-auto py-16">
          <h1 class="text-4xl font-bold mb-8 text-center">Contact</h1>

          <div class="max-w-lg mx-auto text-center">
            <button
              onclick="window.location.href='mailto:info@cajaboogers.com';"
              class="w-full bg-black text-white py-2 rounded hover:bg-gray-800"
            >
              Send an email
            </button>
          </div>
        </section>
      </div>
    </body>
  </Layout>

  <style>
    body {
      font-family: "Playfair Display", serif;
    }
  </style>


</html>
